form {
background: white;
padding: 20px;
width: 300px;
border-radius: 5px;
}
input {
width: 100%;
padding: 8px;
}
input[type="submit"] {
background-color: #3498db;
color: rgb(16, 110, 187);
border: none;
cursor: pointer;
}